#1{

  background-image: url(https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
#kb{
  background-image: url('app/assets/images/boat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#image{
  background-color: white;
}
.title {

  font-style: unset;
  
}// Specific CSS for your home-page


#h2{
  text-align: center;
}

.container {

  background-color: grey;
}

h1{
  text-align: center;

}

.btn{
  color: red;


}
#1{
color:red;
border : 1px solid red;
border-radius: 15px;
padding:20px;
text-decoration: none;

}
#1 :hover{
  color: white;
  background-color: rgba(178,32,19,0.8);
}

html{
  font-family: arial;
  font-size: 16px;
  font-weight: normal;

}
#3{


}
#hero{

}