<div class="row">

    <div class="col-md-9">
        <h2><%= @user.first_name %></h2>
        
        <div class="description row-space-3">
            <%= @user.last_name %>
        </div>
        
        <h4>Listings (<%= @boats.length %>)</h4><br/>
        
        <div class="row">
            <%# <%= render partial: "boats/boats_list", locals: {boats: @boats} %> %>
        </div>
        <br/>
        
        
    </div>
</div>
