<h1>Please find below all my boats</h1>

<div class="boat-content">  
  <%# <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="content">  <p class="p-big"></p>
    <%= @boats.all %>
    
  </div>


</div>

  <div class="d-flex justify-content-between actions">
        <small class="text-right flex-shrink-0"><%= link_to 'Back to list', boats_path, class: "btn btn-primary" %></small>
  </div>

</div>
<p>Find me in app/views/users/show.html.erb</p>
