<h1>
Welcome to <strong> Rentboats </strong>
</h1>
<div class= >

  <!-- <style>
  body {
    font-family: sans-serif;
    margin: 30px;
  }

  li {
    margin-bottom: 10px;
  }

  #password {
    height: 25px;
    padding-left: 6px;
    width: 220px;
  }

  </style>
  
  <!-- <h1>Pages#home</h1> -->   
   <!-- <p>Find me in app/views/pages/home.html.erb</p>       --> 
       
   

  <% if user_signed_in? %>
      <%= current_user.email %>
  <% end %>
  <h2>
  Welcome home buddy ! 
  You're at the right place to rent boats ! 
  <br>
  You like boats right ? 
  <br>
  Let's go !
  </h2>
</div>

<br>
<div>
 <p>The boats provide are premium quality.</p>
</div>

<a href="/boats" class=btn btn success> Here's the link to login </a>




<div>
  <ol>
    
  
  </ol>
</div>



