<h1>Boats boat</h1>

<ul>
    <% @boats.each do |boat| %>
    <li><%= boat.name %></li>
    <% end  %>
</ul>

<div class="container border">

  <h1 class="text-center"> Boats boat</h1>
  
  <ul class="list-group">
    <% @boats.each do |boat| %>
      <div class="card">
        <li class="boat-group-item"> <%= link_to boat.name, boat_path(boat)%> </li>
      </div>
    
      <br>
    <% end %>
  </ul>
<%= link_to "Add new list", new_boat_path %>
</div>

