<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    
  </div class="container">
  <h1><%= @boat.name %></h1>
    <span class="movie-tag">"empty"</span>
  </div>
<div class="container mb-5">
  <hr class="my-5">
  
    </div>
  </div>
  <small class="text-right flex-shrink-0"><%= link_to 'delete', boat_path, method: :delete, data: { confirm: "Are you sure you want to remove #{@boat.name} from your #{@boat.name} boat"}, class: 'text-danger' %></small>
</div>